<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
</head>

<body>
    <h1>Selamat Datang di Sistem Manajemen Pupuk dan Bibit</h1>
    <div class="links">
        <a href="/pupuk">Kelola Data Pupuk</a>
        <a href="/bibit">Kelola Data Bibit</a>
    </div>
</body>

</html>